.dashboard-users {
  position: relative;
  margin: 40px 0;
  height: 90px;
  transition: all .3s;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .dashboard-searching & {
    margin: 80px 0;
  }
  .dashboard-game & {
    margin: 15px 0;
  }
  .user, .opponent {
    position: absolute;
    width: 90px;
    height: 90px;

    .avatar {
      position: relative;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .1);

      img {
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        z-index: 2;
      }

      .dashboard-game & {
        width: 40px;
        height: 40px;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .username {
      text-align: center;
      font-size: 12px;
      color: #626872;
      margin: 6px 0 0;
      z-index: 200;
      transition: all .3s;

      .dashboard-searching & {
        opacity: 0;
      }
    }
  }
  .opponent {
    right: 50%;
    margin-right: -45px;
    z-index: 100;
    transition: all .6s;

    .dashboard-game & {
      margin-right: 0;
      right: 0;
    }
  }
  .user {
    left: 50%;
    margin-left: -45px;
    transition: all .6s;

    .dashboard-game & {
      margin-left: 0;
      left: 0;
    }
    .avatar {
      .dashboard-searching & {
        &:before, &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 60px;
          height: 60px;
          opacity: 1;
          background: rgba(112, 118, 246, .1);
          border: 1px solid #cfcff6;
          border-radius: 50%;
          box-sizing: border-box;
          z-index: 1;
          opacity: 0;
        }
        &:before {
          animation-name: searching;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
        &:after {
          animation-name: searching;
          animation-duration: 2s;
          animation-delay: 1s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
  .versus {
    position: relative;
    z-index: 300;
    text-align: center;
    padding: 12px 0;
    opacity: 0;

    .round {
      display: inline-block;
      font-size: 12px;
      color: #5f6066;
      background: #dee4f8;
      padding: 4px 6px;
      border-radius: 10px;

      span {
        display: inline-block;
        vertical-align: middle;
      }
      .point {
        width: 4px;
        height: 4px;
        margin: 0 2px;
        background: #fff;
        border-radius: 2px;

        &.win {
          background: #91de90;
        }
        &.lose {
          background: #ff7d80;
        }
      }
      .label {
        margin: 0 4px;
      }
    }
    .dashboard-game & {
      animation-name: versus;
      animation-duration: .6s;
      animation-delay: .3s;
      animation-fill-mode: both;
    }
  }
}
.dashboard-actions {
  text-align: center;

  input[type="button"] {
    margin: 0 auto;
  }
}
@keyframes searching {
  0% {
    left: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: -70px;
    bottom: -70px;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
@keyframes versus {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.table {
  text-align: center;
  margin: 0 0 40px;
  perspective: 800px;

  .user, .opponent {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .card {
    display: inline-block;
    width: 80px;
    height: 100px;
    background: rgba(0, 0, 0, .05);
    border-radius: 6px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: transform .2s;

    figure {
      position: absolute;
      display: block;
      margin: 0;
      width: 80px;
      height: 100px;
      background: #91de90 url('/cards/background.png') no-repeat center;
      background-size: 80px 100px;
      border-radius: 6px;
      backface-visibility: hidden;
      transform: rotateY( 0deg );

      img {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        opacity: 0;
        width: 80px;
        height: 100px;
        transition: all .2s;

        &.active {
          opacity: 1;
        }
      }
    }
    &.flipped {
      transform: rotateY( 360deg );
    }
    &.rocking {
      animation-name: rocking;
      animation-duration: .5s;
      animation-iteration-count: 1;
    }
  }
  input[type="button"] {
    margin: 0 auto;
  }
}
@keyframes rocking {
  0% {
    transform: rotateY(0deg);
    box-shadow: none;
  }
  20% {
    transform: rotateY(10deg);
  }
  40% {
    transform: rotateY(-10deg);
  }
  60% {
    transform: rotateY(10deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
